@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<h1 class="display-4 text-center">Услуги по обеспечению безопасности программного обеспечения</h1>
<p class="paragraph">Консультирование по вопросам безопасности стратегического и практического характера, проводимое независимыми экспертами</p>
<img class="img" src="~/img/1.jpg" width="1440" height="810" alt="Alternate Text" />
<h2 class="text-center">Обзор</h2>
<p class="paragraph">Цель защиты программного обеспечения состоит в выявлении ошибок безопасности и недостатков проектирования на всех этапах жизненного цикла разработки программного обеспечения. Наш комплексный подход органично сочетает в себе стратегическое тестирование приложений с использованием методов «белого ящика» (статический анализ кода) и «черного ящика» (тестирование на проникновение). Кроме того, мы помогаем клиентам проверять исправления, обучать разработчиков и выявлять исходные причины появления уязвимостей во избежание их повторного возникновения. При помощи наших услуг вы сможете защитить свои устройства, в том числе устройства «Интернета вещей», «умные» приборы, аппаратное обеспечение и так далее, обезопасить свои приложения от уязвимостей, а также обеспечить защиту транзакций, осуществляемых посредством мобильных устройств, Интернета и телефонных систем интерактивного речевого взаимодействия (IVR).</p>
<p class="paragraph">Будьте в курсе последних тенденций в области кибербезопасности, передовых методов, уязвимостей и многого другого. <a target="_blank" href="https://www.mcafee.com/blogs/enterprise/">Нажмите здесь.</a></p>
<p class="paragraph">Для более подробной информации свяжитесь со службой поддержки: <strong>+7 705 606 84 85</strong></p>